section {
    margin-top: 0;
}

.alaIzq {
    text-align: right;
    justify-items: right;
    align-items:center;
    background-color:rgb(137, 108, 66);
    color: white;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

p {
    font-size:larger;
}

img {
    box-shadow: 0px 0px 7px 0px rgb(59, 59, 59);
}