<section>
  <div class="container col-xxl-8 px-4 py-5">

      <div class="row flex-lg-row-reverse align-items-center g-5 py-5 justify-content-center">
        
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://www.ranchoalegrebc.com/delorec/recursos/lavoz/fotocarloscarrillo2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700px" height="500px" >
        </div>

        <div class="col-lg-6 alaIzq" >
          <h1 class="display-5 fw-bold lh-1 mb-3">{{titulo}}</h1>
          <p class="lead" [innerHTML]="Contenido"></p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-secondary btn-lg px-4 me-md-2" href="#Contacto">
              Contacto
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg>              
            </a>
          </div>
        </div>

      </div>
  </div>
</section>