<app-encabezado></app-encabezado>

<div id="home"></div>

<section *ngIf="Celular" class="rdlsection" [style.height.px]="nAltura" >
    <div class="contenedor-texto">
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-soundwave" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5zm-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5zm12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5z"/>
            </svg>Rancho Alegre BC
        </h2>
    </div>
    <img class="shadow" src="https://www.ranchoalegrebc.com/delorec/recursos/grandes/RanchoAlegreLogoU2.png" >
</section>

<app-app-inicio *ngIf="!Celular"></app-app-inicio>

<div *ngIf="!Celular" class="bgimg-1 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
    </div>
</div>  

<div id="lavoz"></div>
<app-app-ranchoa></app-app-ranchoa>
<div *ngIf="!Celular" class="Logo-divider"></div>
<div *ngIf="Celular" class="b-divider"></div>
<app-app-galeria></app-app-galeria>

<div *ngIf="!Celular" class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">Rancho alegre</span>
    </div>
</div>

<div id="misvideos"></div>
<app-app-programas></app-app-programas>
<div *ngIf="!Celular" class="bgimg-3 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide"></span>
    </div>
</div>

<div id="PodCast"></div>
<app-app-podcast></app-app-podcast>


<div id="Contacto"></div>
<app-piedepag></app-piedepag>