<div id="RABCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#RABCarousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#RABCarousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#RABCarousel" data-bs-slide-to="2"></button>
    </div>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ruta}}{{fotos[0].src}}" class="d-block w-100" >
      </div>
      <div class="carousel-item">
        <img src="{{ruta}}{{fotos[1].src}}" class="d-block w-100" >
      </div>
      <div class="carousel-item">
        <img src="{{ruta}}{{fotos[2].src}}" class="d-block w-100" >
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#RABCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#RABCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    
  </div>