<section>
    <div class="container">

      <div class="text-center pt-5">
        <h1 class="display-6 fw-bold lh-1 mb-2">Programas
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-play-btn" viewBox="0 0 16 16">
                <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
            </svg>            
        </h1>
        <p><i>Selecciona un video de la tabla y haz click</i></p>
      </div>

        <div class="row d-flex justify-content-between flex-wrap">
    
          <div class="col-lg-4 col-xs-12">
    
            <!--color="primary"  class="example-full-width"  appearance="outline"-->
            <div class="row">
              <mat-form-field appearance="outline" >
                <mat-label>Buscar:</mat-label>
                <input matInput [disabled]="!dataToDisplay.length"
                      (keyup)="applyFilter($event)" 
                      placeholder="que programa buscas..." 
                #inputFilter>            
                <button matSuffix 
                        mat-icon-button 
                        (click)="inputFilter.value=''; cleanfilter()">
                        <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
    
            <div *ngIf="pantalla.src">        
              <div class="row">
                <div class="card" style="width: 100%; margin-bottom: 0.5rem;">
                    <div class="card-body">
                      <h5 class="card-title"><b>{{pantalla.msg}}</b></h5>
                      <video id="videoPlayer" width="100%" preload="none" controls autoplay poster="https://www.ranchoalegrebc.com/delorec/recursos/videos/PaVideorabc.jpg" source src="{{ruta}}{{pantalla.src}}" type="video/mp4" > </video>  
                      <p>{{pantalla.des}}</p>
                    </div>
                </div>
              </div>
            </div>

            <div *ngIf="!pantalla.src">        
              <div class="row">
                <div class="card" style="width: 100%; margin-bottom: 0.5rem;">
                    <div class="card-body">
                      <img width="100%" src="https://www.ranchoalegrebc.com/delorec/recursos/videos/PaVideorabc.jpg" > 
                    </div>
                </div>
              </div>
            </div>
            

          </div>
    
    
    
    
          <div class="col-lg-7 col-xs-12">
            
            <div class="row">
    
                <!-- -----------------mat-elevation-z8----------------table table-hover----- -->
                <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
           
                  <ng-container matColumnDef="msg">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="msg" sortActionDescription="Sort by nombre" [style.background-color]="color" [style.color]="colorl" >Lista de Programas</th>
                    <td mat-cell *matCellDef="let element"> 
                      <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                          <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                        </svg>                         
                        {{element.msg}}
                      </p> 
                    </td>
                  </ng-container>
                           
                  <tr mat-header-row *matHeaderRowDef="misColumnas; sticky: true" ></tr>          
                  <tr mat-row *matRowDef="let row; columns: misColumnas;" (click)="onRowClicked(row)"  ></tr>
                
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="3"><i style="color:rgb(167, 167, 167)">Lo siento no encontramos el video que buscas: {{inputFilter.value}}.</i></td>
                  </tr>    
      
                </table>
    
                <mat-paginator  [pageSizeOptions]="pagSize" 
                                showFirstLastButtons 
                                MatPaginator
                                color="primary"
                                class="mb-3 mat-elevation-z3 cPrdl"
                                >
                </mat-paginator>
    
    
            </div>
    
          </div>
        </div>
      </div>
    
</section>

